@page "/categories"
@using HomeFinance.UI.Tables

<div class="row">
    <div class="col-9">
        <h3>Categories</h3>
    </div>
    <a class="btn btn-primary" href="/createCategory">Create category</a>
</div>

<div class="row">
    <CategoryTable Categories="CategoryModels" OnDeleted="DeleteCategory"/>
</div>
