@page "/createCategory"
<h2>Create Category</h2>
<EditForm Model="_category" OnValidSubmit="CreateAsync" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="name" class="col-md-2 col-form-label">Name:</label>
        <div class="col-md-10">
            <InputText id="name" class="form-control" @bind-Value="_category.Name"/>
            <ValidationMessage For="@(() => _category.Name)"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-10">
            <InputRadioGroup class="form-control" @bind-Value="_category.IncomeOrExpenseForBinding">
                <label for="incomeOrExpense" class="col-form-label">IncomeOrExpense:</label> <br/>
                <InputRadio Value="1"/><span style="padding-left: 5px;">Income</span> <br/>
                <InputRadio Value="-1"/><span style="padding-left: 5px;">Expense</span> <br />
            </InputRadioGroup>
            <ValidationMessage For="@(() => _category.IncomeOrExpenseForBinding)"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="reset" class="btn btn-danger" @onclick="Back">Back</button>
            <button type="submit" class="btn btn-success">Create</button>
        </div>
    </div>
</EditForm>
